<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   
<!--    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>-->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>  
        <param-name>primefaces.THEME</param-name>  
        <param-value>#{themeSwitcherView.userTheme}</param-value>  
    </context-param>  
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>   
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>     
    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>br.com.iidh.psmng.control.servlet.Log4JInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>application/navigation.xhtml</welcome-file>
    </welcome-file-list>
    
    
    <security-role>
        <description>Basic User</description>
        <role-name>User</role-name>
    </security-role>
    <security-role>
        <description>AdminUser</description>
        <role-name>Adm</role-name>
    </security-role>   
     
    <security-constraint>
        <display-name>Application</display-name>
        <web-resource-collection>
            <web-resource-name>application</web-resource-name>
            <description/>
            <url-pattern>/application/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Only Registered user can access this</description>
            <role-name>User</role-name>
            <role-name>Adm</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>AdminAccess</display-name>
        <web-resource-collection>
            <web-resource-name>AllOperations</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Admin Only Access</description>
            <role-name>Adm</role-name>
        </auth-constraint>
        <!--        <user-data-constraint>
            <description>Secured Login</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>-->
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <!--<realm-name>LoginRealm</realm-name>-->
        <realm-name>PsychoDataBaseRealm</realm-name>
        <!--<realm-name>PostgresRealm</realm-name>-->
        <form-login-config>
            <form-login-page>/index.xhtml</form-login-page>
            <form-error-page>/index.xhtml</form-error-page>
        </form-login-config>
    </login-config>


    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/error/403-error.xhtml</location>
    </error-page>
</web-app>
