<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"> <!-- Contexto do DispatcherServlet: define a infraestrutura do processamento 
		das requisições feitas ao Servlet (DispatcherServlet) -->

<!--    <bean id="defaultEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="postgre" />
        <property name="dataSource" ref="postgreDataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
    </bean>-->
    
    <!-- Somente entityManagerFactory persist -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="mysql" />
        <!--<property name="dataSource" ref="mysqlDataSourceIIDH-GC" />-->
        <property name="dataSource" ref="mysqlDataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
    </bean>	
    
    <!--<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/CustomerSupport"/>-->
    
    <bean id="mysqlDataSourceIIDH-GC" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/psychomanager?useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="zcxySB3Kn4jc" />
    </bean>

    <bean id="mysqlDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/psychomanager?useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="faka1609" />
    </bean>

<!--    <bean id="postgreDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres?createDatabaseIfNotExist=true" />
        <property name="username" value="postgres" />
        <property name="password" value="12345678" />
    </bean>
    
    <bean id="postgreDataSourceIIDH" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://192.168.0.199:5432/postgres?createDatabaseIfNotExist=true" />
        <property name="username" value="postgres" />
        <property name="password" value="faka1609" />
    </bean>
    
    <bean id="derbyDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
        <property name="url" value="jdbc:derby://localhost:1527/tassinari" />
        <property name="username" value="APP" />
        <property name="password" value="APP" />
    </bean>-->
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
	
    <tx:annotation-driven /> 
    <!-- Define o pacote base para o escaneamento das anotações de contexto (@Component,@Repository, @Service, @Controller, etc) -->
    <context:component-scan base-package="br.com.iidh.psmng" />
    <context:annotation-config />
</beans>
