html {
    position: relative;
    min-height: 100%;
}

body{ 
    margin: 0 0 60px;
    color: #00004d;
    font-size: 0.8em;
}

body a{
    font-size: 1em;   
}

#frmHeader\3A menu.ui-panel{
    border-color: transparent;
    background-color: transparent;
    /*height: 90px;*/
}


#topMenu ul.top-leftlinks {
    margin: 1px 25px 0 0;
    text-align: left;
}

#topMenu .right-controls {
    float: right;
}

#topMenu ul.top-links {
    margin: 1px 25px 0 0;
    text-align: right;
}

#topMenu ul.top-leftlinks li {
    display: inline;
    padding: 0px 5px 0px 5px;
}

#topMenu ul.top-links li {
    display: inline;
    padding: 0px 5px 0px 5px;
}

#topMenu ul.top-links li a, ul.top-leftlinks li a {
    color: #00004d;
    /*    font-size: 0.8em;*/
    outline: none;
    text-decoration: none;
}

#separator{
    height: 10px;
    background: #02639d;
    /*background:  #004d33;*/
    /*background:  #ffbb00;*/
}

#separatorFooter{
    height: 1px;
    background: #02639d;
    /*background:  #004d33;*/
    /*background:  #ffbb00;*/
}

#logo{
    height: 50px;   
}

.home > header {
    margin: 0 auto;
    padding: 12em 2em;
    padding-left: 370px;
}

.home > header h1 {
    font-size: 3.2em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 5%;
    background: url('#{facesContext.externalContext.requestContextPath}/resources/default/1_0/images/watermark.png');
}

#content {
/*    height:auto; 
    min-height:80%; */
    /* aqui é onde acontece a mágica, a propriedade height:auto e min-height: 100% fará com que esta div ocupe sempre a altura total do navegador, mesmo quando redimensionado */
}

#content.ui-panel {
    border-color: transparent;
}

.dialog  .ui-panel {
    border-color: transparent;
}

.dialog  .ui-panelgrid td{
    border-color: transparent;
}

.dialog input:focus {
    outline: none;
}


#bottonMenu ul.top-links {
    margin: 1px 25px 0 0;
    text-align: right;
}


#bottonMenu ul.top-links li {
    display: inline;
    padding: 0px 5px 0px 0px;
}

#bottonMenu ul.top-links li a, ul.top-leftlinks li a {
    color: #00004d;
    /*    font-size: 0.8em;*/
    outline: none;
    text-decoration: none;
}


/*--------------------------------------*/
.forms {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 60%;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);

}

.forms .title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 30px 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
}

.forms .pnlButton{
    border: 0;
}

.forms input:focus {
    outline: none;
    /*border-left-width: 35px;*/
}

.forms  .ui-panel {
    border-color: transparent;
}

.forms  .ui-panelgrid td{
    border-color: transparent;
}

.titleExit {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 30px 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
}

.ui-inputNumber-tela-administracao input
{
    width: 100px !important;   
}

.ui-outputPanel-message-tela-administracao {
    font-weight: bold;
    font-size: 20px !important;
    letter-spacing: -1px !important;
    float: center !important;
    text-align: center !important;
    color: #fff !important;
    background-color: #8bc34a !important;
}